<h1>Playlists#index</h1>
<table>
	<thead>
		<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Level</th>
		<th colspan="1"></th>
		</tr>
	</thead>
	<tbody>
		<!-- Iteramos por cada atrapado -->
		<% @playlists.each do |playlist| %>
		<tr>
		<!-- Cada atrapado tiene song asociado -->
		<td><%= playlist.song.nane %></td>
		<td><%= playlist.song.duration %></td>
		
		<td><%= link_to 'canciones', canciones_playlist_path(playlist)%></td> 
		</tr>
		<% end %>
	</tbody>
</table>

<br>
<%= link_to "agregar", new_playlist_path, class: "btn btn-primary" %>
